.picture {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: var(--spacing-medium);

  a {
    display: inline-flex;
    width: 100%;

    img {
      width: 100%;

      &.static {
        width: 50vw;
      }
    }
  }

  .tagsContainer {
    display: none;
  }
}

@media (min-width: 768px) {
  .picture {
    cursor: pointer;
    max-width: 200px;

    .static {
      cursor: initial;
      transition: none;

      &:hover {
        transform: scale(1);
      }
    }

    &:hover {
      a {
        img {
          transform: scale(1.2);
        }
      }
    }

    a {
      img {
        transition-property: transform;
        transition-duration: 0.6s;
        transform-origin: center 297px;

        &.static {
          width: 100%;
        }
      }

      .tagsContainer {
        display: flex;
        flex-direction: column;
        color: var(--color-white);
        text-transform: uppercase;
        position: absolute;
        bottom: 50px;
        left: var(--spacing-small);

        .tag {
          color: var(--color-white);
          font-size: 13;
          font-weight: 400;
          padding: var(--spacing-smallest);
          width: fit-content;

          // &.family {
          //   background: var(--color-light-green);
          // }

          // &.highlight {
          //   background: var(--color-orange);
          // }
        }
      }
    }
  }
}