picture {
  cursor: pointer;
  max-width: 200px;
  position: relative;
  overflow: hidden !important;

  a {
    img {
      transition-property: transform;
      transition-duration: 0.6s;
      transform-origin: center 297px;

      &:hover {
        transform: scale(1.2);
        overflow: hidden !important;
      }
    }

    .tagsContainer {
      display: flex;
      flex-direction: column;
      color: var(--color-white);
      text-transform: uppercase;
      position: absolute;
      bottom: 50px;
      left: var(--spacing-small);

      .tag {
        color: var(--color-white);
        font-size: 13;
        font-weight: 400;
        padding: var(--spacing-smallest);
        width: fit-content;

        // &:not(:last-of-type) {
        //   margin-bottom: var(--spacing-small);
        // }

        &.family {
          background: var(--color-light-green);
        }

        &.highlight {
          background: var(--color-orange);
        }
      }
    }
  }

  .figcaption {
    color: var(--color-white);
    margin-top: var(--spacing-small);
  }
}
