.description {
  margin: var(--spacing-medium) 0 0 0;

  .tags {
    display: flex;
    flex-direction: row;

    span {
      margin-right: var(--spacing-small);
    }
  }

  .synopsis {
    margin: var(--spacing-small) 0 var(--spacing-medium) 0;
  }
}

@media (min-width: 768px) {
  .description {
    margin: var(--spacing-medium) 0 0 var(--spacing-small);
    display: flex;
    flex-direction: column;
    max-width: 70%;
  }
}

:export {
  spacingSmall: var(--spacing-small);
}