.listContainer {
  display: flex;
  flex-direction: column;

  .figcaption {
    margin: var(--spacing-small) 0;
  }
}

.label {
  color: var(--color-orange);
  border-bottom: 1px solid var(--color-white);

  &::after {
    content: '';
    display: block;
    border-bottom: 1px solid var(--color-orange);
    margin-bottom: -1px;
    max-width: 112px;
  }
}

@media (min-width: 768px) {
  .listContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .figcaption {
      color: var(--color-white);
      margin-top: var(--spacing-small);
    }
  }
}