header {
  background: rgba(0, 0, 0, 0.8);
}

.headerWrapper {
  margin: 0 auto;
  max-width: var(--layout-width);
  padding: var(--spacing-small);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoWrapper {
  width: 250px;
}

.searchAndLocalWrapper {
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
}

.magnifyingGlassWrapper {
  cursor: pointer;
  width: var(--spacing-large);
}

.searchInput {
  height: 24px;
  border-radius: 4px;
  outline: none;
  text-indent: 4px;
}

.location {
  margin-left: var(--spacing-large);
}

.locationWrapper {
  width: var(--spacing-large);
}
