header {
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
  z-index: 999;

  .headerWrapper {
    margin: 0 auto;
    max-width: var(--layout-width);
    padding: var(--spacing-small);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logoWrapper {
      width: 250px;
    }

    .searchAndLocalWrapper {
      color: var(--color-white);
      display: inline-flex;
      align-items: center;
      min-width: 50%;
      display: flex;
      justify-content: flex-end;

      .searchInput {
        display: none;
        height: var(--spacing-medium);
        border-radius: var(--spacing-smallest);
        outline: none;
        text-indent: var(--spacing-smallest);

        &.showInput {
          display: initial;
          position: absolute;
          top: 60px;
          left: 0;
          width: 100%;
          height: 40px;
        }
      }

      .magnifyingGlassWrapper {
        margin-left: var(--spacing-small);
        width: var(--spacing-large);
      }

      a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-white);
        margin-left: var(--spacing-small);

        .locationWrapper {
          width: var(--spacing-large);

          .location {
            margin-left: var(--spacing-large);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .headerWrapper {
      .searchAndLocalWrapper {
        width: auto;

        .searchInput {
          display: initial;

          &.showInput {
            position: relative;
            top: 0;
            width: auto;
            height: var(--spacing-medium);
          }
        }
      }
    }
  }
}