.checkbox {
  cursor: pointer;
  display: inline-flex;
  margin-bottom: var(--spacing-small);

  label {
    display: inline-flex;
    color: var(--color-white);
    cursor: pointer;
    user-select: none;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
    }

    div {
      width: var(--spacing-medium);
      height: var(--spacing-medium);
      background: var(--color-white);
      margin-right: var(--spacing-small);
      position: relative;
    }

    .checked {
      background: #f35429;

      &::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 9px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
          4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
      }
    }

    span {
      margin-right: var(--spacing-small);
    }
  }
}