@import './styles/colors.module.css';
@import './styles/dimensions.module.css';

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body,
#root {
  background: #333;
}


h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
}