@import './utils/colors.module.css';
@import './utils/dimensions.module.css';

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #333;
}

#root {
  background: #333;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
}
